<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form [formGroup]="userCredentials" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          name="email"
          formControlName="email"
        />
        <p *ngIf="userCredentials.get('email')?.invalid && userCredentials.get('email')?.touched">Your email is invalid!</p>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"
          formControlName="password"
        />
        <p *ngIf="userCredentials.get('password')?.invalid && userCredentials.get('password')?.touched">Your password is invalid!</p>
      </div>
      <div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="userCredentials.invalid"
        >
          {{ isLoginMode ? 'Login' : 'Sign Up' }}
        </button>
        |
        <button class="btn btn-primary" (click)="onSwitchMode()" type="button">
          Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
        </button>
      </div>
    </form>
  </div>
</div>
