<a
  class="card mb-3 text-decoration-none text-dark hover-effect clearfix "
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
>
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ recipe.imagePath }}" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 100px;" *ngIf="recipe">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" *ngIf="recipe">{{ recipe.name }}</h5>
        <p class="card-text" *ngIf="recipe">{{ recipe.description }}</p>
      </div>
    </div>
  </div>
</a>
